# =====================================
# Frontend
# =====================================

# Dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# Testing
frontend/coverage/

# Production build
frontend/build/

# Misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


# =====================================
# Backend
# =====================================

# Python cache
backend/__pycache__/
*.py[cod]

# Misc
backend/.DS_Store
backend/.env
