/* 버튼 */
.word-btn {
  margin: 5px;
  padding: 6px 12px;
  font-size: 15px;
  background-color: #f0f0f0; /* 흐린 회색 */
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.word-btn:hover {
  background-color: #e0e0e0; /* 호버 시 조금 진한 회색 */
}

.word-btn:active {
  background-color: #dcdcdc;
  transform: translateY(1px);
}

/* 테이블 */
.word-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #fafafa; /* 테이블 배경 */
}

.word-table th,
.word-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* 한국어 발음 td의 폰트 크기 */
.korean-cell {
  font-size: 0.7rem !important;
}

.word-table th {
  background-color: #f0f0f0; /* 헤더 흐린 회색 */
  color: #333;
  font-weight: bold;
}

.word-table tr:nth-child(even) {
  background-color: #f9f9f9; /* 홀수/짝수 구분 */
}

.word-table tr:hover {
  background-color: #f1f1f1; /* 마우스 오버 시 강조 */
}

.word-table td .word-btn {
  margin: 2px;
}

/* 카테고리 버튼만 작게 */
.category-btn {
  padding: 3px 6px; /* 더 작게 */
  font-size: 10px;  /* 글씨 크기 ↓ */
  border-radius: 4px;
  background-color: #f5f5f5; /* 약간 다른 색도 가능 */
}


/* 모달 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 400px;
}

.modal-content h2 {
  margin-bottom: 4px; /* 간격 줄이기 */
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* 생성일, 수정일 */
.form-row.meta {
  font-size: 12px;
  color: #888;
}

/* 단어 체크 횟수 뱃지 */
.check-badge {
  display: inline-block;
  background-color: #e5e5e5; /* 연한 회색 배경 */
  color: #333;               /* 글자 색 */
  font-size: 0.75rem;        /* 작은 글씨 */
  padding: 2px 6px;          /* 위아래 2px, 좌우 6px */
  border-radius: 10px;       /* 둥근 모서리 */
  margin-left: 1px;          /* 단어와 간격 */
  vertical-align: middle;    /* 단어와 수직 정렬 */
}


/* 체크박스 위치 */
.column-selector {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  gap: 10px;
  margin-bottom: 10px;
}

/* 체크박스 감싸는 라벨 */
.checkbox-label {
  display: flex;
  align-items: center;
  /* background-color: #f0f0f0; */
  /* padding: 6px 10px; */
  /* border-radius: 8px; */
  cursor: pointer;
  font-size: 14px;
  color: #333;
  gap: 6px;
}

/* 기본 체크박스 숨기기 */
.checkbox-label input[type="checkbox"] {
  display: none;
}

/* 커스텀 체크박스 */
.checkbox-label span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 2px solid #bbb;
  background-color: white;
  margin-right: 4px;
  vertical-align: middle;
  transition: 0.2s;
}

/* 체크된 상태 */
.checkbox-label input[type="checkbox"]:checked + span::before {
  background-color: #4a90e2; /* 파랑 포인트 */
  border-color: #4a90e2;
}